

form {
    background-color: white; /* Set form background color to white */
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    
}

label {
    color: orange; /* Set label color to orange */
    font-weight: bold;
}


input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #200190; 
    border-radius: 5px;
}
h2{
    margin-left: 500px;
    color: white;
}
h3{
    margin-left: 500px;
    color: white;
}


button{
    padding: 10px;
    background-color: orange;
    width: 300px;
    border-radius: 10px;
}
